.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ccc;
  background-color: #242424;
}

.bottom-nav button {
  flex: 1;
  height: 100%;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
  outline: none;
  transition: color 0.3s ease;
}

.bottom-nav button.active {
  color: white;
  font-weight: bold;
}
